<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">
        Familles de Composant
      </div>
      <TopDataTable @onSearch="handleSearch">
        <ComponentGroupModal />
      </TopDataTable>
      <ComponentGroupConfirmModal
        confirm-message="Voulez-vous vraiment supprimer cette famille de composant ?"
      />
      <v-data-table
        :headers="headers"
        :items="getComponentGroups"
        :search="search"
      >
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn
                  small
                  @click="onEditComponentGroup(props.item)"
                  v-on="on"
                >
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier la famille de composant</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteComponentGroup(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer la famille de composant</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import ComponentGroupModal from "@/components/modals/componentGroups/ComponentGroupModal.vue";
import ComponentGroupConfirmModal from "@/components/modals/componentGroups/ComponentGroupConfirmModal.vue";
import TopDataTable from "@/components/TopDataTable.vue";

import { Component, Vue } from "vue-property-decorator";
import {
  getAllComponentGroups,
  setAllComponentGroups
} from "../../store/modules/componentGroup";
import { IComponentGroup } from "../../models/componentGroup.model";

@Component({
  name: "ComponentGroupPage",
  components: {
    ComponentGroupModal,
    ComponentGroupConfirmModal,
    TopDataTable
  }
})
export default class ComponentGroupPage extends Vue {
  private search = "";

  private headers = [
    { text: "ID", value: "id" },
    { text: "Nom", value: "name" },
    { text: "Actions", value: "actions" }
  ];

  public get getComponentGroups() {
    return getAllComponentGroups(this.$store);
  }

  public created() {
    setAllComponentGroups(this.$store);
  }

  handleSearch(value: any) {
    this.search = value;
  }

  onEditComponentGroup(componentGroup: IComponentGroup) {
    this.$root.$emit("openEditComponentGroupModal", componentGroup);
  }

  onDeleteComponentGroup(id: number) {
    this.$root.$emit("openComponentGroupConfirmModal", id);
  }
}
</script>
