<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">Composants</div>
      <TopDataTable @onSearch="handleSearch">
        <ComponentModal />
      </TopDataTable>
      <ComponentConfirmModal
        confirm-message="Voulez-vous vraiment supprimer ce composant ?"
      />
      <ProviderProfileModal />
      <v-data-table :headers="headers" :items="getComponents" :search="search">
        <template v-slot:item.priceHt="props">
          {{ props.item.priceHt }} &euro;
        </template>
        <template v-slot:item.elementCharacteristic="props">
          {{ props.item.elementCharacteristic.name }}
        </template>
        <template v-slot:item.elementNature="props">
          {{ props.item.elementNature.name }}
        </template>
        <template v-slot:item.elementUsageUnit="props">
          {{ props.item.elementUsageUnit.name }}
        </template>
        <template v-slot:item.componentGroup="props">
          {{ props.item.componentGroup.name }}
        </template>
        <template v-slot:item.provider="props">
          <v-chip label @click="onProviderProfile(props.item.provider)">
            <v-icon left>mdi-account-circle-outline</v-icon>
            {{ props.item.provider.name }}
          </v-chip>
        </template>
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditComponent(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier le composant</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteComponent(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer le composant</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import ComponentModal from "@/components/modals/components/ComponentModal.vue";
import ComponentConfirmModal from "@/components/modals/components/ComponentConfirmModal.vue";
import ProviderProfileModal from "@/components/modals/providers/ProviderProfileModal.vue";
import TopDataTable from "@/components/TopDataTable.vue";

import { Component, Vue } from "vue-property-decorator";
import {
  getAllComponents,
  setAllComponents
} from "../../store/modules/component";
import { IProvider } from "../../models/provider.model";
import { IComponent } from "../../models/component.model";

@Component({
  name: "ComponentPage",
  components: {
    ComponentModal,
    ProviderProfileModal,
    ComponentConfirmModal,
    TopDataTable
  }
})
export default class ComponentPage extends Vue {
  private search = "";
  private headers = [
    { text: "ID", value: "id" },
    { text: "Prix (HT)", value: "priceHt" },
    { text: "Caractéristique", value: "elementCharacteristic" },
    { text: "Nature", value: "elementNature" },
    { text: "Unité d'usage", value: "elementUsageUnit" },
    { text: "Famille de composant", value: "componentGroup" },
    { text: "Fournisseur", value: "provider" },
    { text: "Actions", value: "actions" }
  ];

  public get getComponents() {
    return getAllComponents(this.$store);
  }

  private created() {
    setAllComponents(this.$store);
  }

  private handleSearch(value: any) {
    this.search = value;
  }

  private onProviderProfile(provider: IProvider) {
    this.$root.$emit("openProviderProfileModal", provider);
  }

  private onEditComponent(component: IComponent) {
    this.$root.$emit("openEditComponentModal", component);
  }

  private onDeleteComponent(id: number) {
    this.$root.$emit("openComponentConfirmModal", id);
  }
}
</script>

<style scoped></style>
