<template>
  <v-dialog v-model="dialog" persistent max-width="350px">
    <v-card>
      <v-card-text class="text-center">
        <p>{{ confirmMessage }}</p>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn color="primary" text @click="onConfirmDeleteMethod()">Oui</v-btn>
        <v-btn color="error" text @click="dialog = false">Non</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { removeComponent } from "../../../store/modules/component";

@Component({
  name: "ComponentConfirmModal"
})
export default class ComponentConfirmModal extends Vue {
  private dialog = false;
  private id!: number;

  @Prop({ default: "" })
  confirmMessage!: string;

  onConfirmDeleteMethod() {
    removeComponent(this.$store, this.id)
      .then(() => {
        this.$toast.success("Elément bien supprimé");
        this.dialog = false;
      })
      .catch(err => {
        this.$toast.error(err);
      });
  }

  mounted() {
    this.$root.$on("openComponentConfirmModal", (id: number) => {
      this.id = id;
      this.dialog = true;
    });
  }
}
</script>
