<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <template v-slot:activator="{ on }">
      <v-btn outlined tile class="text-center" v-on="on">
        <v-icon left>mdi-animation-outline</v-icon>Ajouter un composant
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Profil composant</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Prix en euros"
              rules="required|integer"
            >
              <v-text-field
                v-model="priceHt"
                :error-messages="errors"
                label="Prix en euros"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Famille de composant"
              rules="required"
            >
              <v-combobox
                v-model="componentGroup"
                label="Famille de composant"
                :error-messages="errors"
                :items="getComponentGroups"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Fournisseur"
              rules="required"
            >
              <v-combobox
                v-model="provider"
                label="Fournisseur"
                :error-messages="errors"
                :items="getProviders"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Caractéristique"
              rules="required"
            >
              <v-combobox
                v-model="elementCharacteristic"
                label="Caractéristique"
                :error-messages="errors"
                :items="getElementCharacteristics"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Nature"
              rules="required"
            >
              <v-combobox
                v-model="elementNature"
                label="Nature"
                :error-messages="errors"
                :items="getElementNatures"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Unité d'usage"
              rules="required"
            >
              <v-combobox
                v-model="elementUsageUnit"
                label="Unité d'usage"
                :error-messages="errors"
                :items="getElementCharacteristics"
                item-text="name"
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component as VueComponent, Vue } from "vue-property-decorator";
import {
  IElementCharacteristic,
  ElementCharacteristic
} from "../../../models/elementCharacteristic.model";
import {
  IComponentGroup,
  ComponentGroup
} from "../../../models/componentGroup.model";
import {
  IElementUsageUnit,
  ElementUsageUnit
} from "../../../models/elementUsageUnit.model";
import { IProvider, Provider } from "../../../models/provider.model";
import {
  getAllProviders,
  setAllProviders
} from "../../../store/modules/provider";
import {
  getAllElementCharacteristics,
  setAllElementCharacteristics
} from "../../../store/modules/elementCharacteristic";
import {
  getAllElementNatures,
  setAllElementNatures
} from "../../../store/modules/elementNature";
import {
  getAllElementUsageUnits,
  setAllElementUsageUnits
} from "../../../store/modules/elementUsageUnit";
import {
  IElementNature,
  ElementNature
} from "../../../models/elementNature.model";
import {
  getAllComponentGroups,
  setAllComponentGroups
} from "../../../store/modules/componentGroup";
import { Component, IComponent } from "../../../models/component.model";
import {
  getAllComponents,
  addComponent,
  editComponent,
  setAllComponents
} from "../../../store/modules/component";

@VueComponent({
  name: "ComponentModal"
})
export default class ComponentModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private id: number = 0;
  private priceHt: string = "";
  private elementCharacteristic: IElementCharacteristic = new ElementCharacteristic();
  private elementNature: IElementNature = new ElementNature();
  private componentGroup: IComponentGroup = new ComponentGroup();
  private elementUsageUnit: IElementUsageUnit = new ElementUsageUnit();
  private provider: IProvider = new Provider();
  private dialog = false;

  public get getComponentGroups() {
    return getAllComponentGroups(this.$store);
  }

  public get getProviders() {
    return getAllProviders(this.$store);
  }

  public get getElementCharacteristics() {
    return getAllElementCharacteristics(this.$store);
  }

  public get getElementNatures() {
    return getAllElementNatures(this.$store);
  }

  public get getElementUsageUnits() {
    return getAllElementUsageUnits(this.$store);
  }

  public get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  private created() {
    setAllProviders(this.$store);
    setAllComponentGroups(this.$store);
    setAllElementCharacteristics(this.$store);
    setAllElementUsageUnits(this.$store);
    setAllElementNatures(this.$store);
  }

  private mounted() {
    this.$root.$on("openEditComponentModal", (component: IComponent) => {
      this.dialog = true;
      this.id = component.id;
      this.priceHt = component.priceHt.toString();
      this.componentGroup = component.componentGroup;
      this.provider = component.provider;
      this.elementCharacteristic = component.elementCharacteristic;
      this.elementNature = component.elementNature;
      this.elementUsageUnit = component.elementUsageUnit;
      this.editedIndex = 1;
    });
  }

  private getComponent() {
    return new Component({
      id: this.id,
      priceHt: Number(this.priceHt),
      componentGroup: this.componentGroup,
      provider: this.provider,
      elementCharacteristic: this.elementCharacteristic,
      elementNature: this.elementNature,
      elementUsageUnit: this.elementUsageUnit
    });
  }

  private componentIsAlreadyExist(component: IComponent): boolean {
    if (getAllComponents(this.$store).includes(component)) {
      this.$toast.error(`${component.id} : Existe déjà`);
      return true;
    }
    return false;
  }

  private onSubmit() {
    let component = this.getComponent();

    if (this.editedIndex <= -1) {
      if (!this.componentIsAlreadyExist(component)) {
        addComponent(this.$store, {
          id: component.id,
          priceHt: component.priceHt,
          componentGroup: component.componentGroup,
          provider: component.provider,
          elementCharacteristic: component.elementCharacteristic,
          elementNature: component.elementNature,
          elementUsageUnit: component.elementUsageUnit
        })
          .then(() => {
            setAllComponents(this.$store);
            this.$toast.success(
              `La famille de composant : ${component.id} est bien ajouté`
            );
          })
          .catch(err => {
            this.$toast.error(err);
          });
      }
    } else {
      editComponent(this.$store, {
        id: component.id,
        priceHt: component.priceHt,
        componentGroup: component.componentGroup,
        provider: component.provider,
        elementCharacteristic: component.elementCharacteristic,
        elementNature: component.elementNature,
        elementUsageUnit: component.elementUsageUnit
      })
        .then(() => {
          setAllComponents(this.$store);
          this.$toast.success(
            `La famille de composant : ${component.id} est bien modifié`
          );
        })
        .catch(err => {
          this.$toast.error(err);
        });
    }
    this.dialog = false;
  }

  private onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>

<style scoped></style>
