<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <template v-slot:activator="{ on }">
      <v-btn class="text-center" tile outlined v-on="on">
        <v-icon left>mdi-account-plus-outline</v-icon>Ajouter un client
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Profil du Client</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Prénom"
              rules="required|alpha"
            >
              <v-text-field
                v-model="firstName"
                :error-messages="errors"
                label="Prénom"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Nom"
              rules="required|alpha"
            >
              <v-text-field
                v-model="lastName"
                :error-messages="errors"
                label="Nom"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Nom d'entreprise"
              rules="required|alpha"
            >
              <v-text-field
                v-model="company"
                :error-messages="errors"
                label="Nom d'entreprise"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="SIRET"
              rules="required|integer"
            >
              <v-text-field
                v-model="siret"
                :error-messages="errors"
                label="SIRET"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Adresse de l'entreprise"
              rules="required"
            >
              <v-text-field
                v-model="address"
                :error-messages="errors"
                label="Adresse de l'entreprise"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Ville"
              rules="required|alpha"
            >
              <v-text-field
                v-model="city"
                :error-messages="errors"
                label="Ville"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Code postal"
              rules="required|integer"
            >
              <v-text-field
                v-model="zipcode"
                :error-messages="errors"
                label="Code postal"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="N° de téléphone"
              rules="required|integer"
            >
              <v-text-field
                v-model="tel"
                :error-messages="errors"
                label="N° de téléphone"
                required
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { ICustomer, Customer } from "../../../models/customer.model";
import {
  getAllCustomers,
  addCustomer,
  editCustomer,
  setAllCustomers
} from "../../../store/modules/customer";
@Component({
  name: "CustomerModal"
})
export default class CustomerModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private id = 0;
  private firstName = "";
  private lastName = "";
  private company = "";
  private siret = "";
  private address = "";
  private city = "";
  private zipcode = "";
  private tel = "";
  private dialog = false;

  public get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  public mounted() {
    this.$root.$on("openEditCustomerModal", (customer: ICustomer) => {
      this.dialog = true;
      this.editedIndex = 1;
      this.id = customer.id;
      this.firstName = customer.firstName;
      this.lastName = customer.lastName;
      this.company = customer.company;
      this.siret = customer.siret;
      this.address = customer.address;
      this.zipcode = customer.zipcode;
      this.tel = customer.tel;
    });
  }

  private customersIsAlreadyExist(customer: ICustomer): boolean {
    if (getAllCustomers(this.$store).includes(customer)) {
      this.$toast.error(`${customer.id} : Existe déjà`);
      return true;
    }
    return false;
  }

  private getCustomer() {
    return new Customer({
      id: this.id,
      firstName: this.firstName,
      lastName: this.lastName,
      company: this.company,
      siret: this.siret,
      address: this.address,
      city: this.city,
      zipcode: this.zipcode,
      tel: this.tel
    });
  }

  private onSubmit() {
    const customer = this.getCustomer();

    if (this.editedIndex <= -1) {
      if (!this.customersIsAlreadyExist(customer)) {
        addCustomer(this.$store, {
          firstName: customer.firstName,
          lastName: customer.lastName,
          company: customer.company,
          siret: customer.siret,
          address: customer.address,
          zipcode: customer.zipcode,
          city: customer.city,
          tel: customer.tel,
          projects: customer.projects
        })
          .then(() => {
            setAllCustomers(this.$store);
            this.$toast.success(
              `L'utilisateur' : ${customer.firstName} ${customer.lastName} est bien ajouté`
            );
          })
          .catch(err => {
            this.$toast.error(err);
          });
      }
    } else {
      editCustomer(this.$store, {
        id: customer.id,
        firstName: customer.firstName,
        lastName: customer.lastName,
        company: customer.company,
        siret: customer.siret,
        address: customer.address,
        city: customer.city,
        zipcode: customer.zipcode,
        tel: customer.tel,
        projects: customer.projects
      })
        .then(() => {
          setAllCustomers(this.$store);
          this.$toast.success(
            `Le client : ${customer.firstName} ${customer.lastName} est bien modifié`
          );
        })
        .catch(err => {
          this.$toast.error(err);
        });
    }

    this.onClose();
  }

  private onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>
