<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <v-card>
      <div class="py-5" style="background-color: #49A94D">
        <v-avatar class="mx-auto d-block elevation-6" size="130">
          <v-img src="../../../assets/logo.png" />
        </v-avatar>
        <h1 class="title text-center mt-2" style="color: white">
          {{ firstName }} {{ lastName }}
        </h1>
      </div>
      <v-card-text>
        <div class="subtitle-2 my-2">Information d'entreprise</div>
        <div>
          <span class="body-1 mr-2">{{ company }}</span>
          <span class="body-1">{{ siret }}</span>
        </div>
        <div class="subtitle-2 my-2">Adresse de l'utilisateur</div>
        <div class="body-1">{{ address }}</div>
        <div>
          <span class="body-1 mr-2">{{ city }}</span>
          <span class="body-1 mr-2">{{ zipcode }}</span>
          <span class="body-1">France</span>
        </div>
        <div class="subtitle-2 my-2">N° de téléphone</div>
        <span class="body-1">{{ tel }}</span>
        <div class="subtitle-2 my-2">Projets</div>
        <v-divider></v-divider>
        <v-simple-table dense>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Nom du projet</th>
                <th class="text-left">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="project in projects" :key="project.name">
                <td>{{ project.name }}</td>
                <td>
                  <v-btn small text @click="goToQuotesPage(project.id)">
                    <v-icon medium>mdi-clipboard-text-multiple-outline</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="dialog = false">
          Fermer
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IProject } from "../../../models/project.model";
import { ICustomer } from "../../../models/customer.model";

@Component({
  name: "CustomerProfileModal"
})
export default class CustomerProfileModal extends Vue {
  private id = 0;
  private firstName = "";
  private lastName = "";
  private company = "";
  private siret = "";
  private address = "";
  private zipcode = "";
  private tel = "";
  private projects: IProject[] = [];
  private dialog = false;

  mounted() {
    this.$root.$on("openCustomerProfileModal", (customer: ICustomer) => {
      this.dialog = true;
      this.id = customer.id;
      this.firstName = customer.firstName;
      this.lastName = customer.lastName;
      this.company = customer.company;
      this.siret = customer.siret;
      this.address = customer.address;
      this.zipcode = customer.zipcode;
      this.tel = customer.tel;
      this.projects = customer.projects;
    });
  }

  private goToQuotesPage(id: number) {
    this.$router.push({ name: "projet-devis", params: { id: id.toString() } });
  }
}
</script>
