<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <v-card>
      <v-card-title>
        <span class="headline">Fiche du projet</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Référence du projet"
              rules="required|integer"
            >
              <v-text-field
                v-model="ref"
                :error-messages="errors"
                label="Référence du projet"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Nom"
              rules="required|alpha"
            >
              <v-text-field
                v-model="name"
                :error-messages="errors"
                label="Nom"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Description du projet"
              rules="required"
            >
              <v-text-field
                v-model="desc"
                :error-messages="errors"
                label="Description du projet"
                required
              />
            </ValidationProvider>
            <v-col cols="12" lg="4">
              <v-menu
                v-model="startDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Date début du projet"
                    rules="required"
                  >
                    <v-text-field
                      v-model="getStartDateFormatted"
                      :error-messages="errors"
                      label="Date début du projet"
                      persistent-hint
                      v-on="on"
                    />
                  </ValidationProvider>
                </template>
                <v-date-picker
                  v-model="startDateProject"
                  no-title
                  @input="startDateMenu = false"
                />
              </v-menu>
            </v-col>
            <v-col cols="12" lg="4">
              <v-menu
                v-model="endDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Date fin du projet"
                    rules="required"
                  >
                    <v-text-field
                      v-model="getEndDateFormatted"
                      label="Date fin du projet"
                      :error-messages="errors"
                      persistent-hint
                      v-on="on"
                    />
                  </ValidationProvider>
                </template>
                <v-date-picker
                  v-model="endDateProject"
                  no-title
                  @input="endDateMenu = false"
                />
              </v-menu>
            </v-col>
            <ValidationProvider
              v-slot="{ errors }"
              name="Commerciaux rattachés au projet"
              rules="required"
            >
              <v-combobox
                v-model="users"
                :items="getUsers"
                :error-messages="errors"
                label="Commerciaux rattachés au projet"
                multiple
                chips
                item-text="firstName"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Clients rattachés au projet"
              rules="required"
            >
              <v-combobox
                v-model="customers"
                :items="getCustomers"
                :error-messages="errors"
                label="Clients rattachés au projet"
                multiple
                chips
                item-text="firstName"
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">
          Modifier
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IProject, Project } from "../../../models/project.model";
import { IUser } from "../../../models/user.model";
import { ICustomer } from "../../../models/customer.model";
import {
  getAllCustomers,
  setAllCustomers
} from "../../../store/modules/customer";
import { getAllUsers, setAllUsers } from "../../../store/modules/user";
import { editProject, setAllProjects } from "../../../store/modules/project";
import moment from "moment";

@Component({
  name: "ProjectModal"
})
export default class ListeProjectModal extends Vue {
  private valid = false;
  private id = 0;
  private ref = 0;
  private name = "";
  private desc = "";
  private createdAt = "";
  private updatedAt = moment().format("L");
  private startDateProject: string = new Date().toISOString().substring(0, 10);
  private endDateProject: string = new Date().toISOString().substring(0, 10);
  private startDateMenu = false;
  private endDateMenu = false;
  private users = [] as IUser[];
  private customers = [] as ICustomer[];
  private dialog = false;

  public get getUsers() {
    return getAllUsers(this.$store);
  }

  private get getStartDateFormatted() {
    return this.startDateProject.formatDate();
  }

  private get getEndDateFormatted() {
    return this.endDateProject.formatDate();
  }

  public get getCustomers() {
    return getAllCustomers(this.$store);
  }

  created() {
    setAllUsers(this.$store);
    setAllCustomers(this.$store);
  }

  mounted() {
    this.$root.$on("openEditProjectModal", (project: IProject) => {
      this.dialog = true;
      this.id = project.id;
      this.ref = project.ref;
      this.name = project.name;
      this.desc = project.desc;
      this.users = project.users;
      this.customers = project.customers;
    });
  }

  private getProject() {
    return new Project({
      id: this.id,
      ref: this.ref,
      name: this.name,
      desc: this.desc,
      createdAt: this.createdAt,
      updatedAt: this.updatedAt,
      startedAt: this.startDateProject,
      endedAt: this.endDateProject,
      users: this.users,
      customers: this.customers
    });
  }

  onSubmit() {
    let project = this.getProject();
    editProject(this.$store, {
      id: this.id,
      ref: this.ref,
      name: this.name,
      desc: this.desc,
      createdAt: this.createdAt,
      updatedAt: this.updatedAt,
      startedAt: this.startDateProject,
      endedAt: this.endDateProject,
      customers: this.customers,
      users: this.users
    })
      .then(() => {
        setAllProjects(this.$store);
        this.$toast.success(`Le projet : ${project.name} est bien modifié`);
      })
      .catch(err => {
        this.$toast.error(err);
      });
    this.onClose();
  }

  onClose() {
    this.dialog = false;
  }
}
</script>
