<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <template v-slot:activator="{ on }">
      <v-btn outlined tile class="text-center" v-on="on">
        <v-icon left>mdi-animation-outline</v-icon>Ajouter une Gamme
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Profil Gamme</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Nom"
              rules="required|alpha"
            >
              <v-text-field
                v-model="collection.name"
                :error-messages="errors"
                label="Nom"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Coupe de principe"
              rules="required"
            >
              <v-combobox
                v-model="collection.crossSection"
                label="Coupe de principe"
                :error-messages="errors"
                :items="getCrossSections"
                item-text="blueprintName"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Huisserie"
              rules="required"
            >
              <v-combobox
                v-model="collection.doorFrame"
                label="Huisserie"
                :error-messages="errors"
                :items="getDoorFrames"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider v-slot="{ errors }" name="Sol" rules="required">
              <v-combobox
                v-model="collection.floor"
                label="Sol"
                :error-messages="errors"
                :items="getFloors"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Couverture"
              rules="required"
            >
              <v-combobox
                v-model="collection.coverage"
                label="Couverture"
                :error-messages="errors"
                :items="getCoverages"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Coupe de principe"
              rules="required"
            >
              <v-combobox
                v-model="collection.cctp"
                label="CCTP"
                :error-messages="errors"
                :items="getCctps"
                item-text="name"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Modules"
              rules="required"
            >
              <v-combobox
                v-model="collection.modules"
                label="Modules"
                multiple
                chips
                :error-messages="errors"
                :items="getModules"
                item-text="name"
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  getAllCollections,
  addCollection,
  editCollection,
  setAllCollections
} from "../../../store/modules/collection";
import { Collection, ICollection } from "../../../models/collection.model";
import {
  getAllCrossSections,
  setAllCrossSections
} from "../../../store/modules/crossSection";
import { getAllCctps, setAllCctps } from "../../../store/modules/cctp";
import {
  getAllDoorFrames,
  setAllDoorFrames
} from "../../../store/modules/doorFrame";
import {
  getAllCoverages,
  setAllCoverages
} from "../../../store/modules/coverage";
import { getAllFloors, setAllFloors } from "../../../store/modules/floor";
import { getAllModules, setAllModules } from "../../../store/modules/module";

@Component({
  name: "CollectionModal"
})
export default class CollectionModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private collection: ICollection = new Collection();
  private dialog = false;

  public get getCrossSections() {
    return getAllCrossSections(this.$store);
  }

  public get getCctps() {
    return getAllCctps(this.$store);
  }

  public get getDoorFrames() {
    return getAllDoorFrames(this.$store);
  }

  public get getCoverages() {
    return getAllCoverages(this.$store);
  }

  public get getFloors() {
    return getAllFloors(this.$store);
  }

  public get getModules() {
    return getAllModules(this.$store);
  }

  public get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  private created() {
    setAllCrossSections(this.$store);
    setAllFloors(this.$store);
    setAllModules(this.$store);
    setAllCoverages(this.$store);
    setAllDoorFrames(this.$store);
    setAllCctps(this.$store);
  }

  private mounted() {
    this.$root.$on("openEditCollectionModal", (collection: ICollection) => {
      this.dialog = true;
      this.collection.id = collection.id;
      this.collection.name = collection.name;
      this.collection.crossSection = collection.crossSection;
      this.collection.doorFrame = collection.doorFrame;
      this.collection.floor = collection.floor;
      this.collection.coverage = collection.coverage;
      this.collection.cctp = collection.cctp;
      this.collection.modules = collection.modules;
      this.editedIndex = 1;
    });
  }

  private collectionIsAlreadyExist(collection: ICollection): boolean {
    if (getAllCollections(this.$store).includes(collection)) {
      this.$toast.error(`${collection.id} : Existe déjà`);
      return true;
    }
    return false;
  }

  private onSubmit() {
    if (this.editedIndex <= -1) {
      if (!this.collectionIsAlreadyExist(this.collection)) {
        addCollection(this.$store, {
          id: this.collection.id,
          name: this.collection.name,
          crossSection: this.collection.crossSection,
          doorFrame: this.collection.doorFrame,
          floor: this.collection.floor,
          coverage: this.collection.coverage,
          cctp: this.collection.cctp,
          modules: this.collection.modules
        })
          .then(() => {
            setAllCollections(this.$store);
            this.$toast.success(
              `La famille de composant : ${this.collection.id} est bien ajouté`
            );
          })
          .catch(err => {
            this.$toast.error(err);
          });
      }
    } else {
      editCollection(this.$store, {
        id: this.collection.id,
        name: this.collection.name,
        crossSection: this.collection.crossSection,
        doorFrame: this.collection.doorFrame,
        floor: this.collection.floor,
        coverage: this.collection.coverage,
        cctp: this.collection.cctp,
        modules: this.collection.modules
      })
        .then(() => {
          setAllCollections(this.$store);
          this.$toast.success(
            `La famille de composant : ${this.collection.id} est bien modifié`
          );
        })
        .catch(err => {
          this.$toast.error(err);
        });
    }
    this.dialog = false;
  }

  private onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>

<style scoped></style>
