<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-toolbar color="primary">
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer />
        <v-btn icon @click="onClose()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({
  name: "PdfViewerModal"
})
export default class PdfViewerModal extends Vue {
  private dialog = false;

  @Prop({ required: true, default: "" })
  title!: string;

  mounted() {
    this.$root.$on("openPdfViewerModal", () => {
      this.dialog = true;
    });
  }

  onClose() {
    this.dialog = false;
  }
}
</script>
