<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">Projets</div>
      <TopDataTable @onSearch="handleSearch">
        <v-btn
          class="text-center"
          tile
          outlined
          @click="goToCreateProjectPage()"
          >Créer un projet</v-btn
        >
      </TopDataTable>
      <ProjectModal />
      <UserProfileModal />
      <CustomerProfileModal />
      <ProjectConfirmModal
        confirm-message="Voulez-vous vraiment supprimer ce projet ?"
      />
      <v-data-table :headers="headers" :items="getProjects" :search="search">
        <template v-slot:item.users="props">
          <v-chip-group column active-class="primary--text">
            <v-chip
              v-for="user in props.item.users"
              :key="user.id"
              label
              @click="onUserProfile(user)"
            >
              <v-icon left>mdi-account-circle-outline</v-icon>
              {{ user.firstName }} {{ user.lastName }}
            </v-chip>
          </v-chip-group>
        </template>
        <template v-slot:item.customers="props">
          <v-chip-group column active-class="primary--text">
            <v-chip
              v-for="customer in props.item.customers"
              :key="customer.id"
              label
              @click="onCustomerProfile(customer)"
            >
              <v-icon left>mdi-account-circle-outline</v-icon>
              {{ customer.firstName }} {{ customer.lastName }}
            </v-chip>
          </v-chip-group>
        </template>
        <template v-slot:item.createdAt="props">
          {{ formatDate(props.item.createdAt) }}
        </template>
        <template v-slot:item.updatedAt="props">
          {{ formatDate(props.item.updatedAt) }}
        </template>
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn small @click="goToQuotesPage(props.item.id)" v-on="on">
                  <v-icon medium>mdi-clipboard-text-multiple-outline</v-icon>
                </v-btn>
              </template>
              <span>Voir la liste des devis relié à ce projet</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditProject(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier la fiche projet</span>
            </v-tooltip>
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteProject(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer la fiche projet</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProjectModal from "@/components/modals/projects/ProjectModal.vue";
import ProjectConfirmModal from "@/components/modals/projects/ProjectConfirmModal.vue";
import UserProfileModal from "@/components/modals/users/UserProfileModal.vue";
import CustomerProfileModal from "@/components/modals/customers/CustomerProfileModal.vue";
import TopDataTable from "@/components/TopDataTable.vue";
import { setAllProjects, getAllProjects } from "../../store/modules/project";
import { IProject } from "../../models/project.model";
import { ICustomer } from "src/models/customer.model";
import { IUser } from "../../models/user.model";

@Component({
  name: "ProjectPage",
  components: {
    ProjectModal,
    ProjectConfirmModal,
    TopDataTable,
    UserProfileModal,
    CustomerProfileModal
  }
})
export default class ProjectPage extends Vue {
  private search = "";
  private headers = [
    { text: "ID", value: "id" },
    { text: "Référence", value: "ref" },
    { text: "Nom", value: "name" },
    { text: "Commerciaux rattachés", value: "users" },
    { text: "Clients rattachés", value: "customers" },
    { text: "Crée le", value: "createdAt" },
    { text: "Modifié le", value: "updatedAt" },
    { text: "Actions", value: "actions" }
  ];

  public get getProjects() {
    return getAllProjects(this.$store);
  }

  public created() {
    setAllProjects(this.$store);
  }

  private handleSearch(value: any) {
    this.search = value;
  }

  private formatDate(date: string) {
    if (date != null) {
      return date.formatDate();
    }
    return "";
  }

  private goToCreateProjectPage() {
    this.$router.push({ name: "projet-form" });
  }

  private goToQuotesPage(id: number) {
    this.$router.push({ name: "projet-devis", params: { id: id.toString() } });
  }

  private onUserProfile(user: IUser) {
    this.$root.$emit("openUserProfileModal", user);
  }

  private onCustomerProfile(customer: ICustomer) {
    this.$root.$emit("openCustomerProfileModal", customer);
  }

  private onEditProject(project: IProject) {
    this.$root.$emit("openEditProjectModal", project);
  }

  private onDeleteProject(id: number) {
    this.$root.$emit("openProjectConfirmModal", id);
  }
}
</script>

<style scoped></style>
