<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">
        Devis du projet: {{ getProject.name }}
      </div>
      <v-banner single-line :sticky="sticky">
        {{
          getProject.desc != undefined ? getProject.desc : "Pas de description"
        }}
      </v-banner>
      <v-col>
        <v-chip label color="primary" class="mr-2" text-color="white">
          Date de création {{ formatDate(getProject.createdAt) }}
        </v-chip>
        <v-chip label>
          {{
            getProject.updatedAt != undefined
              ? getProject.updatedAt
              : "Pas de modifications"
          }}
        </v-chip>
      </v-col>
      <v-col>
        <span v-if="getProject.startDateProject != undefined">
          {{
            "Date de début du projet :" +
              formatDate(getProject.startDateProject)
          }}
        </span>
        <span v-if="getProject.endDateProject != undefined">
          {{ "Date de fin : " + formatDate(getProject.endDateProject) }}
        </span>
      </v-col>
      <TopDataTable>
        <v-btn
          class="text-center"
          tile
          outlined
          @click="onAddQuote()"
          v-on="on"
        >
          <v-icon left>mdi-account-plus-outline</v-icon>Ajouter un Devis
        </v-btn>
      </TopDataTable>
      <PdfViewerModal title="Aperçu du devis" />
      <QuoteModal />
      <v-data-table :headers="headers" :items="getQuotes" :search="search">
        <template v-slot:item.quoteState="props">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-chip :color="props.item.quoteState.color" label v-on="on">{{
                props.item.quoteState.name
              }}</v-chip>
            </template>
            <span>{{ props.item.quoteState.description }}</span>
          </v-tooltip>
        </template>
        <template v-slot:item.amoutHt="props">
          {{ props.item.amoutHt }} &euro;
        </template>
        <template v-slot:item.amoutTtc="props">
          {{ getAmoutTtc(props.item.amoutHt) }} &euro;
        </template>
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn
                  small
                  @click="goToSelectCollectionPage(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-video-3d</v-icon>
                </v-btn>
              </template>
              <span>Modélisation</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onShowPdfViewer()" v-on="on">
                  <v-icon medium>mdi-clipboard-text-multiple-outline</v-icon>
                </v-btn>
              </template>
              <span>Voir le PDF</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditQuote(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier le devis</span>
            </v-tooltip>
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteQuote(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer le devis</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TopDataTable from "@/components/TopDataTable.vue";
import QuoteModal from "@/components/modals/quotes/QuoteModal.vue";
import PdfViewerModal from "@/components/modals/PdfViewerModal.vue";
import { getProjectById, setAllProjects } from "../../store/modules/project";
import { IQuote } from "../../models/quote.model";

@Component({
  name: "ProjectQuotesPage",
  components: {
    TopDataTable,
    QuoteModal,
    PdfViewerModal
  }
})
export default class ProjectQuotesPage extends Vue {
  private search = "";
  private headers = [
    { text: "ID", value: "id" },
    { text: "Nom du devis", value: "name" },
    { text: "Montant HT", value: "amoutHt" },
    { text: "Montant TTC", value: "amoutTtc" },
    { text: "Etat", value: "quoteState" },
    { text: "Actions", value: "actions" }
  ];

  private formatDate(date: string) {
    if (date != null) {
      return date.formatDate();
    }
    return "";
  }

  public get getProject() {
    return getProjectById(this.$store)(Number(this.$route.params["id"]) - 1);
  }

  private getAmoutTtc(nb: number): number {
    return Math.round(nb * 1.2);
  }

  public created() {
    setAllProjects(this.$store);
  }

  public get getQuotes() {
    return this.getProject.quotes;
  }

  private handleSearch(value: any) {
    this.search = value;
  }

  private goToSelectCollectionPage(id: number) {
    this.$router.push({ name: "gammes", params: { id: id.toString() } });
  }

  private onAddQuote() {
    this.$root.$emit("openAddQuoteModal", Number(this.$route.params["id"]));
  }

  private onEditQuote(quote: IQuote) {
    this.$root.$emit("openEditQuoteModal", quote);
  }

  private onDeleteQuote(id: number) {
    this.$root.$emit("openConfirmModal", id);
  }

  private onShowPdfViewer(quote: IQuote) {
    this.$root.$emit("openPdfViewerModal", quote);
  }
}
</script>

<style scoped></style>
