<template>
  <div>
    <v-container>
      <v-card class="mx-auto mt-12" max-width="900" outlined>
        <v-card-title>Créer un nouveau projet</v-card-title>
        <v-card-text>
          <ValidationObserver ref="observer">
            <v-form ref="form" v-model="valid">
              <v-row>
                <v-col cols="12" lg="4">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Nom du projet"
                    rules="required"
                  >
                    <v-text-field
                      v-model="name"
                      :error-messages="errors"
                      label="Nom du projet"
                      required
                    />
                  </ValidationProvider>
                </v-col>
                <v-col cols="12" lg="4">
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="N° de référence du projet"
                    rules="required|integer"
                  >
                    <v-text-field
                      v-model="ref"
                      :error-messages="errors"
                      label="N° de référence du projet"
                      required
                    />
                  </ValidationProvider>
                </v-col>
                <v-col cols="12" lg="4">
                  <v-menu
                    v-model="startDateMenu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <ValidationProvider
                        v-slot="{ errors }"
                        name="Date début du projet"
                        rules="required"
                      >
                        <v-text-field
                          v-model="getStartDateFormatted"
                          :error-messages="errors"
                          label="Date début du projet"
                          persistent-hint
                          v-on="on"
                        />
                      </ValidationProvider>
                    </template>
                    <v-date-picker
                      v-model="startDateProject"
                      no-title
                      @input="startDateMenu = false"
                    />
                  </v-menu>
                </v-col>
                <v-col cols="12" lg="4">
                  <v-menu
                    v-model="endDateMenu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <ValidationProvider
                        v-slot="{ errors }"
                        name="Date fin du projet"
                        rules="required"
                      >
                        <v-text-field
                          v-model="getEndDateFormatted"
                          :error-messages="errors"
                          label="Date fin du projet"
                          persistent-hint
                          v-on="on"
                        />
                      </ValidationProvider>
                    </template>
                    <v-date-picker
                      v-model="endDateProject"
                      no-title
                      @input="endDateMenu = false"
                    />
                  </v-menu>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Rechercher des clients existants ..."
                    rules="required"
                  >
                    <v-combobox
                      v-model="customers"
                      :items="getCustomers"
                      :error-messages="errors"
                      label="Rechercher des clients existants ..."
                      multiple
                      chips
                      item-text="firstName"
                    />
                  </ValidationProvider>
                </v-col>
                <v-col>
                  <CustomerModal />
                </v-col>
              </v-row>
              <ValidationProvider
                v-slot="{ errors }"
                name="Rechercher des clients existants ..."
                rules="required|max:1000"
              >
                <v-textarea
                  v-model="desc"
                  counter
                  :error-messages="errors"
                  label="Description du projet"
                  hint="Maximum 1000 caractères"
                />
              </ValidationProvider>
            </v-form>
          </ValidationObserver>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" :disabled="!valid" @click="onSubmit()"
            >Créer le projet</v-btn
          >
          <v-btn color="error" @click="redirectToProjectPage">Annuler</v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "../../utils/date.extension";
import { ICustomer } from "../../models/customer.model";
import CustomerModal from "../../components/modals/customers/CustomerModal.vue";
import { getAllCustomers, setAllCustomers } from "../../store/modules/customer";
import { Project } from "../../models/project.model";
import moment from "moment";
import { IUser } from "../../models/user.model";
import { getCurrentUser } from "../../store/modules/auth";
import { addProject } from "../../store/modules/project";

@Component({
  name: "ProjectForm",
  components: {
    CustomerModal
  }
})
export default class ProjectForm extends Vue {
  private valid = false;
  private startDateProject: string = new Date().toISOString().substring(0, 10);
  private endDateProject: string = new Date().toISOString().substring(0, 10);
  private id = 0;
  private ref = Math.floor(Math.random() * 100000) + 1;
  private name = "";
  private desc = "";
  private createdAt = "";
  private startDateMenu = false;
  private endDateMenu = false;
  private isLoading = false;
  private customers = [] as ICustomer[];
  private users = [] as IUser[];

  private get getStartDateFormatted() {
    return this.startDateProject.formatDate();
  }

  private get getEndDateFormatted() {
    return this.endDateProject.formatDate();
  }

  private get getCustomers() {
    return getAllCustomers(this.$store);
  }

  public created() {
    setAllCustomers(this.$store);
    this.users.push(getCurrentUser(this.$store));
  }

  private getProject() {
    return new Project({
      id: this.id,
      ref: this.ref,
      name: this.name,
      desc: this.desc,
      createdAt: this.createdAt,
      startedAt: this.getStartDateFormatted,
      endedAt: this.getEndDateFormatted,
      users: this.users,
      customers: this.customers
    });
  }

  private onSubmit() {
    let project = this.getProject();
    addProject(this.$store, {
      id: project.id,
      ref: project.ref,
      name: project.name,
      desc: project.desc,
      startedAt: project.startedAt,
      endedAt: project.endedAt,
      users: project.users,
      customers: project.customers
    })
      .then(() => {
        this.$toast.success(`Le projet : ${project.name} est bien ajouté`);
        this.$router.push({ name: "projects" });
      })
      .catch(err => {
        this.$toast.error(err);
      });
  }

  private redirectToProjectPage() {
    this.$router.push({ name: "projects" });
  }
}
</script>
