<template>
  <v-card>
    <v-img
      border
      height="120px"
      src="https://medias.maison-natilia.fr/files/media/natilia/pages/plan-maison-ossature-bois-natigreen.jpg"
    />

    <v-card-actions>
      <v-btn class="mx-auto" color="primary" rounded @click="goToProjectForm()"
        >Créer un nouveau projet
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  name: "CreateProjectCard"
})
export default class CreateProjectCard extends Vue {
  private goToProjectForm() {
    this.$router.push({ name: "projet-form" });
  }
}
</script>

<style scoped></style>
