<template>
  <v-card>
    <div class="py-5" style="background-color: #49A94D">
      <v-avatar class="mx-auto d-block elevation-6" size="130">
        <v-img :src="user.avatar_img" />
      </v-avatar>
      <h1 class="title text-center mt-2" style="color: white">
        {{ user.firstName }} {{ user.lastName }}
      </h1>
      <h2 class="subtitle-1 font-italic text-center" style="color: white">
        {{ user.email }}
      </h2>
      <div class="text-center">
        <v-chip>{{ user.userRole.description }}</v-chip>
      </div>
    </div>
    <v-card-text>
      <div class="subtitle-2 my-2">Adresse de l'utilisateur</div>
      <div class="body-1">{{ user.address }}</div>
      <div>
        <span class="body-1 mr-2">{{ user.city }}</span>
        <span class="body-1 mr-2">{{ user.zipcode }}</span>
        <span class="body-1">France</span>
      </div>
      <div class="subtitle-2 my-2">N° de téléphone</div>
      <span class="body-1">{{ user.tel }}</span>
      <div v-if="projects">
        <div class="subtitle-2 my-2">Projets</div>
        <v-divider></v-divider>
        <v-simple-table dense>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Nom du projet</th>
                <th class="text-left">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="project in user.projects" :key="project.name">
                <td>{{ project.name }}</td>
                <td>
                  <v-btn small text @click="goToQuotesPage(project.id)">
                    Voir
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-card-text>
    <div v-if="closable">
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="emitOnClose()">
          Fermer
        </v-btn>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { IUser } from "src/models/user.model";
@Component({
  name: "UserProfileCard"
})
export default class UserProfileCard extends Vue {
  @Prop({ required: true })
  user!: IUser;

  @Prop()
  projects!: boolean;

  @Prop()
  closable!: boolean;

  private goToQuotesPage(id: number) {
    this.$router.push({ name: "projet-devis", params: { id: id.toString() } });
  }

  emitOnClose() {
    this.$root.$emit("closeUserProfileModal");
  }
}
</script>

<style></style>
