<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <template v-slot:activator="{ on }">
      <v-btn outlined tile class="text-center" v-on="on">
        <v-icon left>mdi-account-plus-outline</v-icon>Ajouter un Utilisateur
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Profil Utilisateur</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Prénom"
              rules="required|alpha"
            >
              <v-text-field
                v-model="firstName"
                :error-messages="errors"
                label="Prénom"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Nom"
              rules="required|alpha"
            >
              <v-text-field
                v-model="lastName"
                label="Nom"
                :error-messages="errors"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Email"
              rules="required|email"
            >
              <v-text-field
                v-model="email"
                :error-messages="errors"
                label="Email"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Mot de passe"
              rules="required|max:20|min:8"
            >
              <v-text-field
                v-model="password"
                :error-messages="errors"
                label="Mot de passe"
                type="password"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Adresse de l'utilisateur"
              rules="required"
            >
              <v-text-field
                v-model="address"
                :error-messages="errors"
                label="Adresse de l'utilisateur"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Code postal"
              rules="required|integer"
            >
              <v-text-field
                v-model="zipcode"
                :error-messages="errors"
                label="Code postal"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="N° de téléphone"
              rules="required|integer"
            >
              <v-text-field
                v-model="tel"
                :error-messages="errors"
                label="N° de téléphone"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Rôle"
              rules="required"
            >
              <v-combobox
                v-model="userRole"
                label="Rôle"
                :error-messages="errors"
                :items="getUserRoles"
                item-text="description"
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// eslint-disable-next-line no-unused-vars
import { User, IUser } from "../../../models/user.model";
import {
  getAllUsers,
  addUser,
  editUser,
  setAllUsers
} from "../../../store/modules/user";
import {
  setAllUserRoles,
  getAllUserRoles
} from "../../../store/modules/userRole";
import { IUserRole, UserRole } from "../../../models/userRole.model";

@Component({
  name: "UserModal"
})
export default class UserModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private id = 0;
  private firstName = "";
  private lastName = "";
  private email = "";
  private password = "";
  private address = "";
  private zipcode = "";
  private tel = "";
  private avatar_img = "";
  private userRole = new UserRole();
  private dialog = false;

  public get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  public get getUserRoles() {
    return getAllUserRoles(this.$store);
  }

  mounted() {
    this.$root.$on("openEditUserModal", (user: IUser) => {
      this.dialog = true;
      this.editedIndex = 1;
      this.id = user.id;
      this.firstName = user.firstName;
      this.lastName = user.lastName;
      this.email = user.email as string;
      this.password = user.password as string;
      this.address = user.address;
      this.zipcode = user.zipcode;
      this.tel = user.tel;
      this.avatar_img = user.avatar_img as string;
      this.userRole = user.userRole as IUserRole;
    });
  }

  created() {
    setAllUserRoles(this.$store);
  }

  private userIsAlreadyExist(user: IUser): boolean {
    if (getAllUsers(this.$store).includes(user)) {
      this.$toast.error(`${user.id} : Existe déjà`);
      return true;
    }
    return false;
  }

  private getUser() {
    return new User({
      id: this.id,
      firstName: this.firstName,
      lastName: this.lastName,
      email: this.email,
      password: this.password,
      address: this.address,
      zipcode: this.zipcode,
      tel: this.tel,
      avatar_img: this.avatar_img,
      userRole: this.userRole
    });
  }

  private onSubmit() {
    const user = this.getUser();
    if (this.editedIndex <= -1) {
      if (!this.userIsAlreadyExist(user)) {
        addUser(this.$store, {
          id: user.id,
          firstName: user.firstName,
          lastName: user.lastName,
          email: user.email,
          password: user.password,
          address: user.address,
          zipcode: user.zipcode,
          tel: user.tel,
          avatar_img: user.avatar_img,
          userRole: user.userRole
        })
          .then(() => {
            setAllUsers(this.$store);
            this.$toast.success(
              `Le client : ${user.firstName} ${user.lastName} est bien ajouté`
            );
          })
          .catch(err => {
            this.$toast.error(err);
          });
      }
    } else {
      editUser(this.$store, {
        id: user.id,
        firstName: user.firstName,
        lastName: user.lastName,
        email: user.email,
        password: user.password,
        address: user.address,
        zipcode: user.zipcode,
        tel: user.tel,
        avatar_img: user.avatar_img,
        userRole: user.userRole
      })
        .then(() => {
          setAllUsers(this.$store);
          this.$toast.success(
            `Le client : ${user.firstName} ${user.lastName} est bien modifié`
          );
        })
        .catch(err => {
          this.$toast.error(err);
        });
    }

    this.onClose();
  }

  private onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>

<style scoped></style>
