<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <UserProfileCard :user="user" :projects="true" :closable="true" />
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UserProfileCard from "../../../components/cards/UserProfileCard.vue";
import { IUser } from "../../../models/user.model";
@Component({
  name: "UserProfileModal",
  components: {
    UserProfileCard
  }
})
export default class UserProfileModal extends Vue {
  private dialog = false;
  private user: IUser = {} as IUser;

  mounted() {
    this.$root.$on("openUserProfileModal", (user: IUser) => {
      this.dialog = true;
      this.user = user;
    });

    this.$root.$on("closeUserProfileModal", () => {
      this.dialog = false;
    });
  }
}
</script>
