<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <template v-slot:activator="{ on }">
      <v-btn class="text-center" tile outlined v-on="on">
        <v-icon left>mdi-account-plus-outline</v-icon>Ajouter un module
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Fiche du module</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Référence du module"
              rules="required|integer"
            >
              <v-text-field
                v-model="id"
                :error-messages="errors"
                label="Référence du module"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Intitulé du module"
              rules="required"
            >
              <v-text-field
                v-model="module"
                :error-messages="errors"
                label="Intitulé du module"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Longueur du module"
              rules="required"
            >
              <v-text-field
                v-model="long"
                :error-messages="errors"
                label="Longueur du module"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Longueur du module"
              rules="required"
            >
              <v-text-field
                v-model="larg"
                :error-messages="errors"
                label="Largeur du module"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Caractéristique de l'élément"
              rules="required"
            >
              <v-text-field
                v-model="caractElement"
                :error-messages="errors"
                label="Caractéristique de l'élément"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Nature de l'élément"
              rules="required"
            >
              <v-text-field
                v-model="natElement"
                :error-messages="errors"
                label="Nature de l'élément"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Unité d'usage de l'élément"
              rules="required"
            >
              <v-text-field
                v-model="unitUseElement"
                :error-messages="errors"
                label="Unité d'usage de l'élément"
                required
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  name: "ModuleModal"
})
export default class ModuleModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private id = "";
  private module = "";
  private long = "";
  private larg = "";
  private caractElement = "";
  private natElement = "";
  private unitUseElement = "";
  private dateCreate = "";
  private update = "";
  private dialog = false;

  get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  mounted() {
    this.$root.$on("openEditModuleModal", () => {
      this.dialog = true;
      this.editedIndex = 1;
    });
  }

  onSubmit() {
    this.dialog = false;
  }

  onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>
