<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">Clients</div>
      <TopDataTable @onSearch="handleSearch">
        <CustomerModal />
      </TopDataTable>
      <CustomerConfirmModal
        confirm-message="Voulez-vous vraiment supprimer cette fiche cliente ?"
      />
      <CustomerProfileModal />
      <v-data-table :headers="headers" :items="getCustomers" :search="search">
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onCustomerProfile(props.item)" v-on="on">
                  <v-icon medium>mdi-clipboard-text-multiple-outline</v-icon>
                </v-btn>
              </template>
              <span>Voir le profil client</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditCustomer(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier la fiche cliente</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteCustomer(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer la fiche cliente</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CustomerModal from "@/components/modals/customers/CustomerModal.vue";
import CustomerConfirmModal from "@/components/modals/customers/CustomerConfirmModal.vue";
import TopDataTable from "@/components/TopDataTable.vue";
import {
  getAllCustomers,
  setAllCustomers,
  removeCustomer
} from "../store/modules/customer";
import { ICustomer } from "../models/customer.model";
import CustomerProfileModal from "@/components/modals/customers/CustomerProfileModal.vue";

@Component({
  name: "CustomersPage",
  components: {
    CustomerModal,
    CustomerConfirmModal,
    TopDataTable,
    CustomerProfileModal
  }
})
export default class CustomersPage extends Vue {
  private search = "";
  private headers = [
    { text: "ID", value: "id" },
    { text: "Nom", value: "lastName" },
    { text: "Prénom", value: "firstName" },
    { text: "Entreprise", value: "company" },
    { text: "Actions", value: "actions" }
  ];

  public get getCustomers() {
    return getAllCustomers(this.$store);
  }

  /**
   * Permet d'executer des actions lors de la création du component
   */
  public created() {
    setAllCustomers(this.$store);
  }

  private onCustomerProfile(customer: ICustomer) {
    this.$root.$emit("openCustomerProfileModal", customer);
  }

  private handleSearch(value: any) {
    this.search = value;
  }

  private onEditCustomer(customer: ICustomer) {
    this.$root.$emit("openEditCustomerModal", customer);
  }

  private onDeleteCustomer(id: number) {
    this.$root.$emit("openCustomerConfirmModal", id);
  }
}
</script>

<style scoped></style>
