<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="4">
          <v-card class="mt-4 mx-auto">
            <v-sheet
              class="v-sheet--offset mx-auto text-center"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <h1 style="color: white">{{ getUsers.length }} utilisateurs</h1>
            </v-sheet>
            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Nombre d'utilisateurs
              </div>
              <div class="subheading font-weight-light grey--text">
                Regroupent tous les rôles
              </div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>
                mdi-clock
              </v-icon>
              <span class="caption grey--text font-weight-light"
                >Il y a quelques secondes</span
              >
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card class="mt-4 mx-auto">
            <v-sheet
              class="v-sheet--offset mx-auto text-center"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <h1 style="color: white">{{ getCustomers.length }} clients</h1>
            </v-sheet>
            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Nombre de clients
              </div>
              <div class="subheading font-weight-light grey--text">
                Tous les clients
              </div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>
                mdi-clock
              </v-icon>
              <span class="caption grey--text font-weight-light"
                >Il y a quelques secondes</span
              >
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="4">
          <CreateProjectCard class="mr-5 mt-5 pa-1" />
        </v-col>
        <v-col cols="4">
          <v-card class="mt-4 mx-auto">
            <v-sheet
              class="v-sheet--offset mx-auto text-center"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <h1 style="color: white">
                {{ getQuotes.length }} devis acceptés
              </h1>
            </v-sheet>
            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Nombre de devis acceptés
              </div>
              <div class="subheading font-weight-light grey--text">
                Regroupent les devis acceptés par le client
              </div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>
                mdi-clock
              </v-icon>
              <span class="caption grey--text font-weight-light"
                >Il y a quelques secondes</span
              >
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card class="mt-4 mx-auto">
            <v-sheet
              class="v-sheet--offset mx-auto text-center"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <h1 style="color: white">{{ getProjects.length }} projets</h1>
            </v-sheet>
            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Nombre de projet
              </div>
              <div class="subheading font-weight-light grey--text">
                Tous les projets
              </div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>
                mdi-clock
              </v-icon>
              <span class="caption grey--text font-weight-light"
                >Il y a quelques secondes</span
              >
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card class="mt-4 mx-auto">
            <v-sheet
              class="v-sheet--offset mx-auto text-center"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <v-sparkline
                :value="getComponentPrices"
                color="white"
                line-width="2"
                padding="16"
                ><template v-slot:label="item">
                  ${{ item.value }}
                </template></v-sparkline
              >
            </v-sheet>
            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Prix des composants
              </div>
              <div class="subheading font-weight-light grey--text">
                Tous les prix de composants
              </div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>
                mdi-clock
              </v-icon>
              <span class="caption grey--text font-weight-light"
                >Il y a quelques secondes</span
              >
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CreateProjectCard from "@/components/cards/CreateProjectCard.vue";
import { Component } from "vue-property-decorator";
import { getAllUsers, setAllUsers } from "../store/modules/user";
import { getAllCustomers, setAllCustomers } from "../store/modules/customer";
import { getAllQuotes, setAllQuotes } from "../store/modules/quote";
import { getAllProjects, setAllProjects } from "../store/modules/project";
import {
  getAllComponents,
  setAllComponents,
  component
} from "../store/modules/component";

@Component({
  name: "Dashboard",
  components: {
    CreateProjectCard
  }
})
export default class Dashboard extends Vue {
  public get getUsers() {
    return getAllUsers(this.$store);
  }

  public get getCustomers() {
    return getAllCustomers(this.$store);
  }

  public get getQuotes() {
    return getAllQuotes(this.$store).filter(quote => quote.quoteState.id == 2);
  }

  public get getProjects() {
    return getAllProjects(this.$store);
  }

  public get getComponentPrices() {
    return getAllComponents(this.$store).map(component => component.priceHt);
  }

  public created() {
    setAllUsers(this.$store);
    setAllCustomers(this.$store);
    setAllQuotes(this.$store);
    setAllProjects(this.$store);
    setAllComponents(this.$store);
  }
}
</script>
<style lang="scss">
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
