<template>
  <div>
    <perfect-scrollbar>
      <v-container fluid class="container-module">
        <v-card
          v-for="module in getModulesWithSelected"
          :key="module.name"
          outlined
          class="card-module ma-2"
          :color="module.isSelected ? 'primary' : ''"
          @click="setSelectedModule(module)"
          ><v-col>
            <v-row no-gutters align="center">
              <span>{{ module.name }}</span>
              <v-checkbox
                v-model="module.isSelected"
                color="default"
                class="ml-2"
                @change="setModule()"
              />
            </v-row>
          </v-col>
        </v-card>
      </v-container>
    </perfect-scrollbar>
    <div>
      <v-row no-gutters>
        <v-col cols="9">
          <v-card
            class="container-modeling d-flex align-end align-content-end flex-wrap"
            tile
            outlined
          >
            <v-btn color="primary" class="ma-4" @click="generateQuote()"
              >Générer le devis</v-btn
            ></v-card
          >
        </v-col>
        <v-col>
          <v-card class="container-modeling" tile flat>
            <div>
              <perfect-scrollbar>
                <v-card tile flat style="height: 60vh" class="pa-2">
                  <h2>{{ getSelectedModule.name }}</h2>
                  <v-text-field
                    v-model="getSelectedModule.lenght"
                    dense
                    label="Longueur"
                    outlined
                  />
                  <v-text-field
                    v-model="getSelectedModule.width"
                    dense
                    label="Largeur"
                    outlined
                  />
                  <v-combobox
                    v-model="getSelectedModule.elementNature"
                    dense
                    label="Nature"
                    item-text="name"
                    :items="getElementNatures"
                    outlined
                  />
                  <v-combobox
                    v-model="getSelectedModule.elementCharacteristic"
                    dense
                    label="Caractéristique"
                    item-text="name"
                    :items="getElementCharacteristics"
                    outlined
                  />
                  <v-combobox
                    v-model="getSelectedModule.elementUsageUnit"
                    dense
                    item-text="name"
                    label="Unité d'usage"
                    :items="getElementUsageUnits"
                    outlined
                  />
                  <v-combobox
                    v-model="getSelectedModule.moduleSection"
                    dense
                    item-text="name"
                    label="Section"
                    outlined
                  />
                  <v-combobox
                    v-model="getSelectedModule.moduleRising"
                    dense
                    item-text="name"
                    label="Soulèvement"
                    outlined
                  />
                  <v-combobox
                    v-model="getSelectedModule.moduleFillingBetweenRising"
                    dense
                    item-text="name"
                    label="Remplissage"
                    outlined
                  />
                  <v-combobox
                    v-model="getSelectedModule.components"
                    dense
                    multiple
                    chips
                    item-text="id"
                    label="Composants"
                    outlined
                  />

                  <v-card-actions>
                    <v-divider />
                    <v-spacer />
                    <v-btn color="primary">Modifier le module</v-btn>
                  </v-card-actions>
                </v-card>
              </perfect-scrollbar>
            </div>
            <div>
              <v-card tile outlined style="height: 27vh"
                ><v-simple-table height="26vh">
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">Composant</th>
                        <th class="text-left">Prix</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="component in getSelectedComponents"
                        :key="component.id"
                      >
                        <td>
                          <v-tooltip top>
                            <template v-slot:activator="{ on }">
                              <span v-on="on">{{
                                reduceString(component.elementNature.name)
                              }}</span>
                            </template>
                            <span>{{ component.elementNature.name }}</span>
                          </v-tooltip>
                        </td>
                        <td>{{ component.priceHt }} &euro;</td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table></v-card
              >
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { PerfectScrollbar } from "vue2-perfect-scrollbar";
import {
  getAllModules,
  setAllModules,
  getAllModulesWithSelected,
  setModuleAsSelectedStatus,
  getSelectedModule
} from "../store/modules/module";
import { getQuoteById, setAllQuotes } from "../store/modules/quote";
import {
  getCollectionById,
  setAllCollections
} from "../store/modules/collection";
import { IModule } from "src/models/module.model";
import {
  setSelectedComponentsByModules,
  getAllComponents
} from "../store/modules/component";
import { addOrder } from "../store/modules/order";
import { Quote } from "src/models/quote.model";
import {
  getAllElementNatures,
  setAllElementNatures
} from "../store/modules/elementNature";
import {
  getAllElementCharacteristics,
  setAllElementCharacteristics
} from "../store/modules/elementCharacteristic";
import {
  getAllElementUsageUnits,
  setAllElementUsageUnits
} from "../store/modules/elementUsageUnit";
import {
  getAllModuleSection,
  setAllModuleSection
} from "../store/modules/moduleSection";
import {
  getAllModuleRisings,
  setAllModuleRisings
} from "../store/modules/moduleRising";
import {
  getAllModuleFillingBetweenRisings,
  setAllModuleFillingBetweenRisings
} from "../store/modules/moduleFillingBetweenRising";

@Component({
  name: "ModelingPage",
  components: {
    PerfectScrollbar
  }
})
export default class ModelingPage extends Vue {
  public get getCurrentQuote() {
    return getQuoteById(this.$store)(Number(this.$route.params["quoteId"]) - 1);
  }

  public get getElementNatures() {
    return getAllElementNatures(this.$store);
  }

  public get getElementCharacteristics() {
    return getAllElementCharacteristics(this.$store);
  }

  public get getElementUsageUnits() {
    return getAllElementUsageUnits(this.$store);
  }

  public get getSelectedComponents() {
    return getAllComponents(this.$store);
  }

  public get getModuleSections() {
    return getAllModuleSection(this.$store);
  }

  public get getModuleRisings() {
    return getAllModuleRisings(this.$store);
  }

  public get getModuleFillingBetweenRisings() {
    return getAllModuleFillingBetweenRisings(this.$store);
  }

  public get getSelectedModule() {
    return getSelectedModule(this.$store);
  }

  public get getCurrentCollection() {
    return getCollectionById(this.$store)(
      Number(this.$route.params["collectionId"]) - 1
    );
  }
  public get getModulesWithSelected() {
    return getAllModulesWithSelected(this.$store)(
      this.getCurrentCollection.modules
    );
  }

  public get getModules() {
    return getAllModules(this.$store);
  }

  public created() {
    setAllQuotes(this.$store);
    setAllElementNatures(this.$store);
    setAllElementCharacteristics(this.$store);
    setAllElementUsageUnits(this.$store);
    setAllModuleSection(this.$store);
    setAllModuleRisings(this.$store);
    setAllModuleFillingBetweenRisings(this.$store);
    setAllCollections(this.$store).then(() => {
      setAllModules(this.$store).then(() => {
        setSelectedComponentsByModules(
          this.$store,
          this.getModulesWithSelected
        );
      });
    });
  }

  private reduceString(str: string) {
    return str.substring(0, 30) + "...";
  }

  private setModule() {
    setSelectedComponentsByModules(this.$store, this.getModulesWithSelected);
    this.$forceUpdate();
  }

  private setSelectedModule(selectedModule: IModule) {
    setModuleAsSelectedStatus(this.$store, selectedModule);
  }

  private generateQuote() {
    this.getSelectedComponents.forEach(component => {
      addOrder(this.$store, {
        id: 0,
        component: component,
        quote: this.getCurrentQuote as Quote
      });
    });
    this.$toast.success("Le devis est bien généré");
    this.$router.push({ name: "dashboard" });
  }
}
</script>

<style lang="scss">
.container-module {
  height: 13vh;
  width: 100%;
  white-space: nowrap;
}

.container-modeling {
  height: 87vh;
}

.card-module {
  display: inline-block;
}
</style>
