<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">
        Liste des modules
      </div>
      <TopDataTable @onSearch="handleSearch">
        <ModuleModal />
      </TopDataTable>

      <ModuleConfirmModal
        confirm-message="Voulez-vous vraiment supprimer ce module ?"
      />
      <v-data-table
        :headers="headers"
        :items="modules"
        :search="search"
        class="elevation-1"
      >
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditModule(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier le module</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteModule(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer ce module</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TopDataTable from "@/components/TopDataTable.vue";
import ModuleConfirmModal from "../components/modals/modules/ModuleConfirmModal.vue";
import ModuleModal from "../components/modals/modules/ModuleModal.vue";

@Component({
  name: "ModulesPage",
  components: {
    ModuleConfirmModal,
    ModuleModal,
    TopDataTable
  }
})
export default class ModulesPage extends Vue {
  private search = "";

  private handleSearch(value: any) {
    this.search = value;
  }

  onEditModule() {
    this.$root.$emit("openEditModuleModal");
  }

  onDeleteModule() {
    this.$root.$emit("openModuleConfirmModal");
  }

  private headers = [
    { text: "ID", value: "id" },
    { text: "Intitulé du Module", value: "module" },
    { text: "Longueur", value: "long" },
    { text: "Largeur", value: "larg" },
    { text: "Caractéristique de l'élément", value: "caractElement" },
    { text: "Nature de l'élément", value: "NatElement" },
    { text: "Unité d'usage de l'élément", value: "unitUseElement" },
    { text: "Crée le", value: "dateCreate" },
    { text: "Mis à jour le", value: "update" },
    { text: "Actions", value: "actions" }
  ];
  private modules = [
    {
      id: 1,
      module: 159,
      long: 6.0,
      larg: 24,
      caractElement: 4.0,
      NatElement: "1%",
      unitUseElement: "1%",
      dateCreate: "1%",
      update: "1%"
    }
  ];
}
</script>

<style scoped></style>
