<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">
        Commandes Fournisseurs
      </div>
      <TopDataTable @onSearch="handleSearch" />
      <PdfViewerModal title="Aperçu de la facture" />
      <v-data-table :headers="headers" :items="getOrders" :search="search">
        <template v-slot:item.component="props">
          {{ props.item.component.elementNature.name }}
        </template>
        <template v-slot:item.quote="props">
          {{ props.item.quote.id }}
        </template>
        <template v-slot:item.puHt="props">
          {{ props.item.component.priceHt }} &euro;
        </template>
        <template v-slot:item.actions="props">
          <v-tooltip left>
            <template v-slot:activator="{ on }">
              <v-btn
                small
                rounded
                depressed
                @click="onShowPdfViewer(props.item)"
                v-on="on"
              >
                <v-icon medium>mdi-file-document-box-outline</v-icon>
              </v-btn>
            </template>
            <span>Voir la facture</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TopDataTable from "@/components/TopDataTable.vue";
import PdfViewerModal from "@/components/modals/PdfViewerModal.vue";
import { getAllOrders, setAllOrders } from "../store/modules/order";

@Component({
  name: "OrdersPage",
  components: {
    TopDataTable,
    PdfViewerModal
  }
})
export default class OrdersPage extends Vue {
  private search = "";
  private headers = [
    { text: "ID", value: "id" },
    { text: "Nom composant", value: "component" },
    { text: "Ref du devis", value: "quote" },
    { text: "Prix unitaire (en euros) HT", value: "puHt" },
    { text: "Prix total (en euros) HT", value: "totalht" },
    { text: "Actions", value: "actions" }
  ];

  public get getOrders() {
    return getAllOrders(this.$store);
  }

  public created() {
    setAllOrders(this.$store);
  }

  private handleSearch(value: any) {
    this.search = value;
  }

  private onShowPdfViewer() {
    this.$root.$emit("openPdfViewerModal");
  }
}
</script>

<style></style>
