<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">Fournisseurs</div>
      <TopDataTable @onSearch="handleSearch">
        <ProviderModal />
      </TopDataTable>
      <ProviderConfirmModal
        confirm-message="Voulez-vous vraiment supprimer ce fournisseur ?"
      />
      <v-data-table :headers="headers" :items="getProviders" :search="search">
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditProvider(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier le fournisseur</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteProvider(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer le fournisseur</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import ProviderModal from "@/components/modals/providers/ProviderModal.vue";
import ProviderConfirmModal from "@/components/modals/providers/ProviderConfirmModal.vue";
import TopDataTable from "@/components/TopDataTable.vue";
import { Component, Vue } from "vue-property-decorator";
import { IProvider } from "../models/provider.model";
import { setAllProviders, getAllProviders } from "../store/modules/provider";

@Component({
  name: "ProviderPage",
  components: {
    ProviderModal,
    ProviderConfirmModal,
    TopDataTable
  }
})
export default class ProviderPage extends Vue {
  private search = "";

  private headers = [
    { text: "ID", value: "id" },
    { text: "Nom du fournisseur", value: "name" },
    { text: "Email", value: "email" },
    { text: "Adresse", value: "address" },
    { text: "Code postal", value: "zipcode" },
    { text: "Pays", value: "country" },
    { text: "N° Tel", value: "tel" },
    { text: "Actions", value: "actions" }
  ];

  public get getProviders() {
    return getAllProviders(this.$store);
  }

  /**
   * Permet d'executer des actions lors de la création du component
   */
  public created() {
    setAllProviders(this.$store);
  }

  handleSearch(value: any) {
    this.search = value;
  }

  onEditProvider(provider: IProvider) {
    this.$root.$emit("openEditProviderModal", provider);
  }

  onDeleteProvider(id: number) {
    this.$root.$emit("openProviderConfirmModal", id);
  }
}
</script>

<style scoped></style>
