<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">Devis</div>
      <TopDataTable @onSearch="handleSearch">
        <QuoteModal />
      </TopDataTable>
      <QuoteConfirmModal
        confirm-message="Voulez-vous vraiment supprimer cette fiche devis ?"
      />
      <v-data-table :headers="headers" :items="quotes" :search="search">
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditQuote(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier la fiche devis</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteQuote(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer la fiche devis</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import QuoteModal from "@/components/modals/quotes/QuoteModal.vue";
import QuoteConfirmModal from "@/components/modals/quotes/QuoteConfirmModal.vue";
import TopDataTable from "@/components/TopDataTable.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  name: "QuotesPage",
  components: {
    QuoteModal,
    QuoteConfirmModal,
    TopDataTable
  }
})
export default class QuotesPage extends Vue {
  private search = "";

  private quotes = [
    {
      id: 1,
      name: "Devis 1",
      amoutHt: "12000",
      crossSection: "Construction de toit",
      paymentMethod: "virement",
      quoteState: "en cours",
      createdAt: "23 février 2020"
    },
    {
      id: 2,
      name: "Devis 2",
      amoutHt: "1000",
      crossSection: "Coupe en travers de mur",
      paymentMethod: "virement",
      quoteState: "en cours",
      createdAt: "14 janvier 2020"
    }
  ];

  private headers = [
    { text: "ID", value: "id" },
    { text: "Intitulé", value: "name" },
    { text: "Montant", value: "amoutHt" },
    { text: "Coupe", value: "crossSection" },
    { text: "Paiement", value: "paymentMethod" },
    { text: "Etat", value: "quoteState" },
    { text: "Date", value: "createdAt" },
    { text: "Actions", value: "actions" }
  ];

  handleSearch(value: any) {
    this.search = value;
  }

  onEditQuote() {
    this.$root.$emit("openEditQuoteModal");
  }

  onDeleteQuote() {
    this.$root.$emit("openQuoteConfirmModal");
  }
}
</script>

<style scoped></style>
