<template>
  <v-container fluid>
    <div class="display-3 font-weight-bold mx-5 my-5">
      Sélection de gammes
    </div>
    <v-container>
      <CollectionModal />
      <v-row justify="center">
        <v-col
          v-for="collection in getCollections"
          :key="collection.name"
          cols="3"
        >
          <v-card @click="gotoModelingPage(collection.id)">
            <v-img src="../assets/blueprint.jpg" />
            <v-card-title>{{ collection.name }}</v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CollectionModal from "../components/modals/collections/CollectionModal.vue";
import {
  getAllCollections,
  setAllCollections
} from "../store/modules/collection";
@Component({
  name: "SelectCollectionPage",
  components: {
    CollectionModal
  }
})
export default class SelectCollectionPage extends Vue {
  public get getCollections() {
    return getAllCollections(this.$store);
  }

  public created() {
    setAllCollections(this.$store);
  }

  private gotoModelingPage(id: number) {
    this.$router.push({
      name: "modeling",
      params: { quoteId: this.$route.params["id"], collectionId: id.toString() }
    });
  }
}
</script>

<style></style>
