<template>
  <v-container fuild>
    <div class="display-3 font-weight-bold mx-5 my-5">Paramètres</div>
    <v-row>
      <v-col cols="12" lg="8">
        <v-card outlined>
          <v-card-title>Vos informations utilisateur</v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-row>
                <v-col cols="12" lg="4">
                  <v-text-field v-model="firstName" label="Prénom" required />
                </v-col>
                <v-col cols="12" lg="4">
                  <v-text-field v-model="lastName" label="Nom" required />
                </v-col>
              </v-row>
              <v-textarea
                v-model="address"
                counter
                label="Votre adresse"
                hint="Maximum 1000 caractères"
                :rules="textAreaRules"
              />
              <v-row>
                <v-col cols="12" lg="4">
                  <v-text-field
                    v-model="zipcode"
                    label="Code postal"
                    required
                  />
                </v-col>
                <v-col cols="12" lg="4">
                  <v-text-field v-model="country" label="Pays" required />
                </v-col>
                <v-col cols="12" lg="4">
                  <v-text-field
                    v-model="tel"
                    label="N° de téléphone"
                    required
                  />
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="onSubmit()">
              Modifier mon profil
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" lg="4">
        <UserProfileCard :user="currentUser" />
      </v-col>
    </v-row>
    <v-card outlined>
      <v-switch
        v-model="$vuetify.theme.dark"
        class="ma-2"
        color="primary"
        label="Mode nuit"
        @change="onDarkMode()"
      ></v-switch>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { getCurrentUser, setCurrentUserState } from "../store/modules/auth";
import UserProfileCard from "../components/cards/UserProfileCard.vue";
import { IUser } from "src/models/user.model";
import { editUser } from "../store/modules/user";
import { DarkModeManagerService } from "../services/darkModeManager.service";

@Component({
  name: "SettingsPage",
  components: {
    UserProfileCard
  }
})
export default class SettingsPage extends Vue {
  private id: number = 0;
  private firstName: string = "";
  private lastName: string = "";
  private address: string = "";
  private zipcode: string = "";
  private tel: string = "";

  private textAreaRules: ((v: string) => any)[] = [
    (v: string) => v.length <= 1000 || "Maximum 1000 caractères"
  ];

  public get currentUser() {
    return getCurrentUser(this.$store);
  }

  mounted() {
    this.id = this.currentUser.id;
    this.firstName = this.currentUser.firstName;
    this.lastName = this.currentUser.lastName;
    this.address = this.currentUser.address;
    this.zipcode = this.currentUser.zipcode;
    this.tel = this.currentUser.tel;
  }

  onDarkMode() {
    DarkModeManagerService.SetDarkMode(this.$vuetify.theme.dark);
  }

  onSubmit() {
    editUser(this.$store, {
      id: this.id,
      firstName: this.firstName,
      lastName: this.lastName,
      tel: this.tel,
      address: this.address,
      zipcode: this.zipcode
    })
      .then(() => {
        setCurrentUserState(this.$store);
        this.$toast.success(`Votre compte est bien modifié`);
      })
      .catch(err => {
        this.$toast.error(err);
      });
  }
}
</script>
