<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <v-card>
      <v-card-title>
        <span class="headline">Fiche du devis</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Intitulé du devis"
              rules="required"
            >
              <v-text-field
                v-model="name"
                :error-messages="errors"
                label="Intitulé du devis"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Mode de payment"
              rules="required"
            >
              <v-combobox
                v-if="editedIndex != -1"
                v-model="paymentMethod"
                :error-messages="errors"
                :items="getPaymentMethods"
                item-text="stepName"
                label="Mode de payment"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Etat du devis"
              rules="required"
            >
              <v-combobox
                v-if="editedIndex != -1"
                v-model="quoteState"
                :error-messages="errors"
                :items="getQuoteStates"
                item-text="name"
                label="Etat du devis"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Coupe de principe"
              rules="required"
            >
              <v-combobox
                v-model="crossSection"
                :items="getCrossSections"
                :error-messages="errors"
                item-text="blueprintName"
                label="Coupe de principe"
                required
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IQuote, Quote } from "../../../models/quote.model";
import moment from "moment";
import { QuoteState, IQuoteState } from "../../../models/quoteState.model";
import { CrossSection } from "../../../models/crossSection.model";
import {
  PaymentMethod,
  IPaymentMethod
} from "../../../models/paymentMethod.model";
import {
  getAllCrossSections,
  setAllCrossSections
} from "../../../store/modules/crossSection";
import {
  getAllQuoteStates,
  setAllQuoteStates
} from "../../../store/modules/quoteState";
import { setAllProjects } from "../../../store/modules/project";
import {
  editQuote,
  getAllQuotes,
  addQuote,
  setAllQuotes
} from "../../../store/modules/quote";
import {
  getAllPaymentMethods,
  setAllPaymentMethods
} from "../../../store/modules/paymentMethod";
import { Project } from "../../../models/project.model";

@Component({
  name: "QuoteModal"
})
export default class QuoteModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private id = 0;
  private name = "";
  private createdAt = "";
  private updatedAt = moment().format("L");
  private paymentMethod: IPaymentMethod = new PaymentMethod();
  private quoteState: IQuoteState = new QuoteState();
  private crossSection = new CrossSection();
  private dialog = false;
  private projectId: number = 0;

  public get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  public get getCrossSections() {
    return getAllCrossSections(this.$store);
  }

  public get getPaymentMethods() {
    return getAllPaymentMethods(this.$store);
  }

  public get getQuoteStates() {
    return getAllQuoteStates(this.$store);
  }

  public created() {
    setAllCrossSections(this.$store);
    setAllQuoteStates(this.$store);
    setAllProjects(this.$store);
    setAllPaymentMethods(this.$store);
  }

  public mounted() {
    this.$root.$on("openEditQuoteModal", (quote: IQuote) => {
      this.dialog = true;
      this.editedIndex = 1;
      this.id = quote.id;
      this.name = quote.name;
      this.paymentMethod = quote.paymentMethod;
      this.quoteState = quote.quoteState;
      this.crossSection = quote.crossSection;
    });

    this.$root.$on("openAddQuoteModal", (id: number) => {
      this.dialog = true;
      this.projectId = id;
    });
  }

  private getQuote() {
    return new Quote({
      id: this.id,
      name: this.name,
      paymentMethod: this.paymentMethod,
      quoteState: this.quoteState,
      crossSection: this.crossSection
    });
  }

  private quoteIsAlreadyExist(quote: IQuote): boolean {
    if (getAllQuotes(this.$store).includes(quote)) {
      this.$toast.error(`${quote.id} : Existe déjà`);
      return true;
    }
    return false;
  }

  onSubmit() {
    let quote = this.getQuote();

    if (this.editedIndex <= -1) {
      if (!this.quoteIsAlreadyExist(quote)) {
        addQuote(this.$store, {
          id: quote.id,
          name: quote.name,
          paymentMethod: new PaymentMethod({ id: 1 }),
          quoteState: new QuoteState({ id: 1 }),
          crossSection: quote.crossSection,
          projects: [new Project({ id: this.projectId })]
        })
          .then(() => {
            setAllProjects(this.$store);
            this.$toast.success(`Le devis : ${quote.name} est bien ajouté`);
          })
          .catch(err => {
            this.$toast.error(err);
          });
      }
    } else {
      editQuote(this.$store, {
        id: quote.id,
        name: quote.name,
        paymentMethod: quote.paymentMethod,
        quoteState: quote.quoteState,
        crossSection: quote.crossSection,
        projects: quote.projects,
        updatedAt: this.updatedAt
      })
        .then(() => {
          setAllQuotes(this.$store);
          this.$toast.success(`Le devis : ${quote.name} est bien modifié`);
        })
        .catch(err => {
          this.$toast.error(err);
        });
    }

    this.onClose();
  }

  onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>
