<template>
  <v-navigation-drawer app expand-on-hover permanent>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-list-item
          style="background-color: #4CAF50; font-weight: bold"
          @click="goToSettingsPage()"
          v-on="on"
        >
          <v-list-item-avatar>
            <v-img :src="getCurrentUser.avatar_img"></v-img>
          </v-list-item-avatar>

          <v-list-item-title
            >{{ getCurrentUser.firstName }}
            {{ getCurrentUser.lastName }}
          </v-list-item-title>
        </v-list-item>
      </template>
      <span>Accéder aux paramètres utilisateur</span>
    </v-tooltip>

    <v-divider></v-divider>

    <v-list dense>
      <v-list-item-group
        v-for="(item, i) in items"
        :key="i"
        :value="item.active"
      >
        <v-list-item
          v-if="isCorrectRank(item.rank)"
          :to="item.route"
          active-class="highlighted"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <template v-slot:append>
      <div class="d-flex">
        <div class="footer-drawer">
          <v-col>
            <v-row align-self="end" justify="center"
              ><v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-fade-transition hide-on-leave>
                    <span class="version" v-on="on">{{ version }}</span>
                  </v-fade-transition>
                </template>
                <span>Version de Madera</span>
              </v-tooltip></v-row
            >
          </v-col>
          <v-col>
            <v-row align-self="end" justify="center">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    small
                    tile
                    icon
                    color="error"
                    class="mx-auto"
                    @click="onLogout"
                    v-on="on"
                  >
                    <v-icon>mdi-logout</v-icon>
                  </v-btn>
                </template>
                <span>Se déconnecter de Madera</span>
              </v-tooltip>
            </v-row>
          </v-col>
        </div>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { LOGOUT } from "../messages";
import { getCurrentUser } from "../store/modules/auth";

@Component({
  name: "Drawer"
})
export default class Drawer extends Vue {
  private version: string = process.env.VERSION;
  private items = [
    { route: "/home", title: "Dashboard", icon: "mdi-monitor-dashboard" },
    {
      route: "/projects",
      title: "Projets",
      icon: "mdi-projector-screen",
      rank: 4
    },
    {
      route: "/clients",
      title: "Clients",
      icon: "mdi-account-group-outline",
      rank: 4
    },
    {
      route: "/commandes",
      title: "Commandes",
      icon: "mdi-truck-delivery-outline",
      rank: 2
    },
    {
      route: "/devis",
      title: "Devis",
      icon: "mdi-file-account-outline",
      rank: 4
    },
    {
      route: "/users",
      title: "Utilisateur",
      icon: "mdi-account-switch",
      rank: 1
    },
    {
      route: "/composants",
      title: "Composants",
      icon: "mdi-animation-outline",
      rank: 2
    },
    {
      route: "/famille-composants",
      title: "Famille de composants",
      icon: "mdi-animation-outline",
      rank: 2
    },
    {
      route: "/fournisseurs",
      title: "Fournisseurs",
      icon: "mdi-contact-phone-outline",
      rank: 2
    },
    {
      route: "/modules",
      title: "Modules",
      icon: "mdi-clipboard-list-outline",
      rank: 2
    }
  ];

  private get getCurrentUser() {
    return getCurrentUser(this.$store);
  }

  private isCorrectRank(rankId: string): boolean {
    if (
      rankId == undefined ||
      rankId == null ||
      (this.getCurrentUser.userRole?.id as number) == 1
    ) {
      return true;
    }

    return (this.getCurrentUser.userRole?.id.toString() as string) == rankId;
  }

  private goToSettingsPage() {
    this.$router.push({ name: "settings" });
  }

  private onLogout() {
    this.$root.$emit(LOGOUT);
  }
}
</script>

<style lang="scss">
.version {
  background-color: rgb(112, 112, 112);
  padding: 3px;
  color: white;
  font-family: "Consolas";
  border-radius: 5px;
}

.dark-mode {
  padding: 3px;
  color: white;
  margin-bottom: 0px;
}

.footer-drawer {
  display: inline-block;
  margin-left: auto;
  color: white;
  margin-right: auto;
  margin-bottom: 10px;
}
</style>
