<template>
  <v-container fluid grid-list-xl>
    <v-layout justify-space-between>
      <v-card width="100%" style="margin-bottom: 2px">
        <v-card-title class="font-weight-bold">
          <slot />
          <v-spacer />
          <v-divider
            v-if="haveDefaultSlot"
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-text-field
            v-model="search"
            value
            append-icon="search"
            label="Rechercher"
            single-line
            hide-details
            @input="onChange"
          ></v-text-field>
        </v-card-title>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({
  name: "TopDataTable"
})
export default class TopDataTable extends Vue {
  private search: string = "";

  get haveDefaultSlot() {
    return !!this.$slots.default;
  }

  private onChange(event: any) {
    this.$emit("onSearch", event);
  }
}
</script>
