<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <template v-slot:activator="{ on }">
      <v-btn outlined tile class="text-center" v-on="on">
        <v-icon left>mdi-animation-outline</v-icon>Ajouter une famille de
        composant
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Profil famille de composant</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Nom"
              rules="required|alpha"
            >
              <v-text-field
                v-model="name"
                :error-messages="errors"
                label="Nom"
                required
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  IComponentGroup,
  ComponentGroup
} from "../../../models/componentGroup.model";
import {
  addComponentGroup,
  getAllComponentGroups,
  setAllComponentGroups,
  editComponentGroup
} from "../../../store/modules/componentGroup";
@Component({
  name: "ComponentGroupModal"
})
export default class ComponentGroupModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private id = 0;
  private name = "";
  private dialog = false;

  get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  mounted() {
    this.$root.$on(
      "openEditComponentGroupModal",
      (componentGroup: IComponentGroup) => {
        this.dialog = true;
        this.editedIndex = 1;
        this.id = componentGroup.id;
        this.name = componentGroup.name;
      }
    );
  }

  private getComponentGroup() {
    return new ComponentGroup({
      id: this.id,
      name: this.name
    });
  }

  private componentGroupIsAlreadyExist(
    componentGroup: IComponentGroup
  ): boolean {
    if (getAllComponentGroups(this.$store).includes(componentGroup)) {
      this.$toast.error(`${componentGroup.id} : Existe déjà`);
      return true;
    }
    return false;
  }

  onSubmit() {
    let componentGroup = this.getComponentGroup();
    if (this.editedIndex <= -1) {
      if (!this.componentGroupIsAlreadyExist(componentGroup)) {
        addComponentGroup(this.$store, {
          id: componentGroup.id,
          name: componentGroup.name
        })
          .then(() => {
            setAllComponentGroups(this.$store);
            this.$toast.success(
              `La famille de composant : ${componentGroup.name} est bien ajouté`
            );
          })
          .catch(err => {
            this.$toast.error(err);
          });
      }
    } else {
      editComponentGroup(this.$store, {
        id: componentGroup.id,
        name: componentGroup.name
      })
        .then(() => {
          setAllComponentGroups(this.$store);
          this.$toast.success(
            `La famille de composant : ${componentGroup.name} est bien modifié`
          );
        })
        .catch(err => {
          this.$toast.error(err);
        });
    }
    this.dialog = false;
  }

  onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>

<style scoped></style>
