<template>
  <v-app>
    <Drawer v-if="isAuth" />
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Drawer from "@/components/Drawer.vue";
import { Component, Vue } from "vue-property-decorator";
import { AuthService } from "./services/auth.service";
import { setCurrentUserState } from "./store/modules/auth";
import { LOGIN, LOGOUT } from "./messages";
import { DarkModeManagerService } from "./services/darkModeManager.service";

@Component({
  name: "App",
  components: {
    Drawer
  }
})
export default class App extends Vue {
  private isAuth = AuthService.isAuth();

  mounted() {
    this.$root.$on(LOGIN, () => {
      this.isAuth = true;
      setCurrentUserState(this.$store);
    });
    this.$root.$on(LOGOUT, () => {
      this.isAuth = false;
      AuthService.logout();
      this.$router.push({ name: "signin" });
    });
  }

  created() {
    this.$vuetify.theme.dark = DarkModeManagerService.IsDarkMode;

    if (this.isAuth) {
      setCurrentUserState(this.$store).catch(err => {
        this.$toast.error("La session à expirée");
        this.isAuth = false;
        AuthService.logout();
        this.$router.push({ name: "signin" });
      });
    }
  }
}
</script>
