<template>
  <v-dialog v-model="dialog" max-width="400px" persistent>
    <template v-slot:activator="{ on }">
      <v-btn class="text-center" outlined tile v-on="on">
        <v-icon left>mdi-account-plus-outline</v-icon>Ajouter un Fournisseur
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Profil Fournisseur</span>
      </v-card-title>
      <v-card-text>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <ValidationProvider
              v-slot="{ errors }"
              name="Nom du fournisseur"
              rules="required|alpha"
            >
              <v-text-field
                v-model="name"
                :error-messages="errors"
                label="Nom du fournisseur"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Adresse Email"
              rules="required|email"
            >
              <v-text-field
                v-model="email"
                :error-messages="errors"
                label="Adresse Email"
                required
                :rules="emailRules"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Adresse"
              rules="required"
            >
              <v-text-field
                v-model="address"
                :error-messages="errors"
                label="Adresse"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Code Postal"
              rules="required|integer"
            >
              <v-text-field
                v-model="zipcode"
                :error-messages="errors"
                label="Code Postal"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Ville"
              rules="required|alpha"
            >
              <v-text-field
                v-model="city"
                :error-messages="errors"
                label="Ville"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Pays"
              rules="required|alpha"
            >
              <v-text-field
                v-model="country"
                :error-messages="errors"
                label="Pays"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="N° de téléphone"
              rules="required|integer"
            >
              <v-text-field
                v-model="tel"
                :error-messages="errors"
                label="N° de téléphone"
                required
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="Site Web"
              :rules="{ regex: /https:\/\/.+\..+/ }"
            >
              <v-text-field
                v-model="website"
                :error-messages="errors"
                label="Site Web"
                required
                :rules="websiteRules"
              />
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="N° de SIRET"
              rules="required|integer"
            >
              <v-text-field
                v-model="siret"
                :error-messages="errors"
                label="N° de SIRET"
                required
              />
            </ValidationProvider>
          </v-form>
        </ValidationObserver>
        <small>* Indique que le champ est requis</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="onClose">Annuler</v-btn>
        <v-btn color="primary" :disabled="!valid" @click="onSubmit">{{
          buttonSubmitLabel
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IProvider, Provider } from "../../../models/provider.model";
import {
  getAllProviders,
  addProvider,
  editProvider,
  setAllProviders
} from "../../../store/modules/provider";

@Component({
  name: "ProviderModal"
})
export default class ProviderModal extends Vue {
  private valid = false;
  private editedIndex = -1;
  private id = 0;
  private name = "";
  private tel = "";
  private website = "";
  private email = "";
  private address = "";
  private zipcode = "";
  private city = "";
  private country = "";
  private siret = "";
  private dialog = false;

  get buttonSubmitLabel() {
    return this.editedIndex === -1 ? "Ajouter" : "Modifier";
  }

  mounted() {
    this.$root.$on("openEditProviderModal", (provider: IProvider) => {
      this.dialog = true;
      this.id = provider.id;
      this.name = provider.name;
      this.tel = provider.tel;
      this.website = provider.website;
      this.email = provider.email;
      this.address = provider.address;
      this.zipcode = provider.zipcode;
      this.city = provider.city;
      this.country = provider.country;
      this.siret = provider.siret;
      this.editedIndex = 1;
    });
  }

  private providersIsAlreadyExist(provider: IProvider): boolean {
    if (getAllProviders(this.$store).includes(provider)) {
      this.$toast.error(`${provider.id} : Existe déjà`);
      return true;
    }
    return false;
  }

  private getProvider() {
    return new Provider({
      id: this.id,
      name: this.name,
      tel: this.tel,
      website: this.website,
      email: this.email,
      address: this.address,
      zipcode: this.zipcode,
      city: this.city,
      country: this.country,
      siret: this.siret
    });
  }

  onSubmit() {
    const provider = this.getProvider();
    if (this.editedIndex <= -1) {
      if (!this.providersIsAlreadyExist(provider)) {
        addProvider(this.$store, {
          id: provider.id,
          name: provider.name,
          tel: provider.tel,
          website: provider.website,
          email: provider.email,
          address: provider.address,
          zipcode: provider.zipcode,
          city: provider.city,
          country: provider.country,
          siret: provider.siret
        })
          .then(() => {
            setAllProviders(this.$store);
            this.$toast.success(
              `Le fournisseur : ${provider.name} est bien ajouté`
            );
          })
          .catch(err => {
            this.$toast.error(err);
          });
      }
    } else {
      editProvider(this.$store, {
        id: provider.id,
        name: provider.name,
        tel: provider.tel,
        website: provider.website,
        email: provider.email,
        address: provider.address,
        zipcode: provider.zipcode,
        city: provider.city,
        country: provider.country,
        siret: provider.siret
      })
        .then(() => {
          setAllProviders(this.$store);
          this.$toast.success(
            `Le fournisseur : ${provider.name} est bien modifié`
          );
        })
        .catch(err => {
          this.$toast.error(err);
        });
    }

    this.onClose();
  }

  onClose() {
    this.dialog = false;
    this.editedIndex = -1;
  }
}
</script>

<style scoped></style>
