<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <v-card>
      <div class="py-5" style="background-color: #49A94D">
        <v-avatar class="mx-auto d-block elevation-6" size="130">
          <v-img src="../../../assets/logo.png" />
        </v-avatar>
        <h1 class="title text-center mt-2" style="color: white">
          {{ name }}
        </h1>
      </div>
      <v-card-text>
        <div class="subtitle-2 my-2">Information d'entreprise</div>
        <div>
          <a class="body-1 mr-2">{{ website }}</a>
          <span class="body-1">{{ siret }}</span>
        </div>
        <div class="subtitle-2 my-2">Adresse de l'utilisateur</div>
        <div class="body-1">{{ address }}</div>
        <div>
          <span class="body-1 mr-2">{{ city }}</span>
          <span class="body-1 mr-2">{{ zipcode }}</span>
          <span class="body-1 mr-2">{{ country }}</span>
        </div>
        <div class="subtitle-2 my-2">N° de téléphone</div>
        <span class="body-1">{{ tel }}</span>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="dialog = false">
          Fermer
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IProject } from "../../../models/project.model";
import { IProvider } from "../../../models/provider.model";

@Component({
  name: "ProviderProfileModal"
})
export default class ProviderProfileModal extends Vue {
  private id = 0;
  private name = "";
  private website = "";
  private email = "";
  private siret = "";
  private address = "";
  private zipcode = "";
  private city = "";
  private country = "";
  private tel = "";
  private dialog = false;

  mounted() {
    this.$root.$on("openProviderProfileModal", (provider: IProvider) => {
      this.dialog = true;
      this.id = provider.id;
      this.name = provider.name;
      this.website = provider.website;
      this.email = provider.email;
      this.siret = provider.siret;
      this.address = provider.address;
      this.zipcode = provider.zipcode;
      this.city = provider.city;
      this.country = provider.country;
      this.tel = provider.tel;
    });
  }
}
</script>
