<template>
  <v-content>
    <v-card class="mx-auto mt-10" max-width="450" outlined>
      <v-img
        class="white--text align-end"
        height="200px"
        src="@/assets/auth_img_madera.png"
      ></v-img>
      <v-card-title class="d-flex justify-center">
        <span class="font-weight-bold" style="font-size: 25px"
          >Se connecter</span
        >
      </v-card-title>
      <v-container>
        <ValidationObserver ref="observer">
          <v-form ref="form" v-model="valid">
            <v-flex xs12>
              <ValidationProvider
                v-slot="{ errors }"
                name="Email"
                rules="required|email"
              >
                <v-text-field
                  v-model="email"
                  :error-messages="errors"
                  label="Adresse email"
                  outlined
                  required
                ></v-text-field>
              </ValidationProvider>
            </v-flex>
            <v-flex xs12>
              <ValidationProvider
                v-slot="{ errors }"
                name="Mot de passe"
                rules="required|max:20|min:8"
              >
                <v-text-field
                  v-model="password"
                  :error-messages="errors"
                  label="Mot de passe"
                  type="password"
                  outlined
                  required
                ></v-text-field>
              </ValidationProvider>
            </v-flex>
          </v-form>
        </ValidationObserver>
      </v-container>
      <v-card-actions>
        <v-btn
          block
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="onSubmit()"
          >Se Connecter</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-content>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { login } from "../../store/modules/auth";

import { LOGIN } from "../../messages";

@Component({
  name: "SignIn"
})
export default class SignIn extends Vue {
  private valid = false;
  private email = "";
  private password = "";
  private passwordRules = [(v: string) => !!v || "Le mot de passe est requis"];
  private emailRules = [
    (v: string) => !!v || "L'adresse email est requise",
    (v: string) => /.+@.+\..+/.test(v) || "L'adresse email doit être valide"
  ];

  private onSubmit() {
    login(this.$store, {
      email: this.email,
      password: this.password
    })
      .then(() => {
        this.$toast.success(`Connexion réussie : ${this.email}`);
        this.$root.$emit(LOGIN);
        this.$router.push({ name: "dashboard" });
      })
      .catch(err => this.$toast.error(err));
  }
}
</script>
