<template>
  <div>
    <v-container fluid>
      <div class="display-3 font-weight-bold mx-5 my-5">Utilisateurs</div>
      <TopDataTable @onSearch="handleSearch">
        <UserModal />
      </TopDataTable>
      <UserConfirmModal
        confirm-message="Voulez-vous vraiment supprimer cet utilisateur ?"
      />
      <UserProfileModal />
      <v-data-table :headers="headers" :items="getUsers" :search="search">
        <template v-slot:item.userRole="props">
          <v-chip>{{ props.item.userRole.description }}</v-chip>
        </template>
        <template v-slot:item.actions="props">
          <v-btn-toggle rounded>
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onUserProfile(props.item)" v-on="on">
                  <v-icon medium>mdi-clipboard-text-multiple-outline</v-icon>
                </v-btn>
              </template>
              <span>Voir le profil utilisateur</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn small @click="onEditUser(props.item)" v-on="on">
                  <v-icon medium>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Modifier l'utilisateur</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="error"
                  small
                  @click="onDeleteUser(props.item.id)"
                  v-on="on"
                >
                  <v-icon medium>mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Supprimer l'utilisateur</span>
            </v-tooltip>
          </v-btn-toggle>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import UserModal from "@/components/modals/users/UserModal.vue";
import UserConfirmModal from "@/components/modals/users/UserConfirmModal.vue";
import TopDataTable from "@/components/TopDataTable.vue";
import { Component, Vue } from "vue-property-decorator";
import {
  getAllUsers,
  setAllUsers,
  removeUser,
  user
} from "../../store/modules/user";
import { setAllCustomers } from "../../store/modules/customer";
import { IUser } from "../../models/user.model";
import { getCurrentUser } from "../../store/modules/auth";
import UserProfileModal from "@/components/modals/users/UserProfileModal.vue";

@Component({
  name: "UserPage",
  components: {
    UserModal,
    TopDataTable,
    UserConfirmModal,
    UserProfileModal
  }
})
export default class UserPage extends Vue {
  private search = "";

  private headers = [
    { text: "ID", value: "id" },
    { text: "Nom", value: "lastName" },
    { text: "Prénom", value: "firstName" },
    { text: "Email", value: "email" },
    { text: "Rôle", value: "userRole" },
    { text: "Actions", value: "actions" }
  ];

  public get getUsers() {
    return getAllUsers(this.$store);
  }

  public created() {
    setAllUsers(this.$store);
  }

  private onUserProfile(user: IUser) {
    this.$root.$emit("openUserProfileModal", user);
  }

  private handleSearch(value: any) {
    this.search = value;
  }

  private onEditUser(user: IUser) {
    this.$root.$emit("openEditUserModal", user);
  }

  private onDeleteUser(id: number) {
    this.$root.$emit("openUserConfirmModal", id);
  }
}
</script>

<style scoped></style>
